/* You can style your canvas and ions here */
canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}

.ion {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}
